<!DOCTYPE html>
<html>
<head>
<style>

    body {
        background-image: url({{asset "img/dash-404-mph_rpm.png"}});
    background-color: #000000;
    background-size: 100%;
    background-repeat: no-repeat;
    };


/* this shows it zoomed...
html { 
  background: url(season-3-dash-2002.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

</style>
</head>
<body>


</body>
</html>

